@import 'defaults';

.container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 6fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "header content"
    "sidebar content"
}

.sidebar {
  color: $sidebarTextColor;
  background-color: $primaryColor;
  box-shadow: 3px 0px 6px -1px rgba(105,106,107,1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 7fr;
  grid-area: sidebar;
}

.sidebar > .nav-item{
  padding: 10px;
  text-align: center;
}

.content {
  padding: 10px;
  grid-area: content;
}

.sidebar > .nav-item.active {
  opacity: .5;
  background-color: black;
}

.header {
  padding: 14px;
  text-align: center;
  grid-area: header;
  background-color: #4991c1;
  box-shadow: 3px 0px 6px -3.2px rgba(105,106,107,1);
}

