<div class="container">
    <div class="header">
        <div class="heading">
            {{name}}
        </div>
        <div class="sub-heading">
            {{title}}
        </div>
    </div>
    <div class="sidebar">
        <div class="nav-item" data-link="dashboard">
            <i class="fa fa-tachometer fa-2x"></i>
            Dashboard
        </div>
        <div class="nav-item" data-link="users">
            <i class="fa fa-address-card-o fa-2x"></i>
            Users
        </div>
        <div class="nav-item" data-link="posts">
            <i class="fa fa-comments fa-2x"></i>
            Posts
        </div>
        <div class="nav-item" data-link="settings">
            <i class="fa fa-cogs fa-2x"></i>
            Settings
        </div>
    </div>
    <div id="main-content" class="content">
        Content coming soon...
    </div>
</div>
